<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Commodities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <Commodities.Properties.Settings>
            <setting name="CommoditiesFile" serializeAs="String">
                <value>V:\commodities.txt</value>
            </setting>
            <setting name="StationsFile" serializeAs="String">
                <value>V:\stations.txt</value>
            </setting>
            <setting name="Capacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Hops" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RoutesCount" serializeAs="String">
                <value>3</value>
            </setting>
        </Commodities.Properties.Settings>
    </applicationSettings>
</configuration>